.paragrafo{
    width: 565px;
height: 179px;

font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
text-align: center;
}
.h2{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 430;
font-size: 43px;
line-height: 72px;
}
.logo{
    position: absolute;
    top: 0;
}